{{define "base"}}
<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/output.css">
    <title>{{template "title" .}} - Snippetbox</title>
</head>

<body class="bg-[#F1F3F6] text-[#34495E] overflow-y-scroll">
    <header class="py-5">
        <div class="flex items-center gap-4 justify-center mx-auto container px-4">
            <img src="/static/img/box-icon.png" alt="Snippetbox Icon" class="h-10">
            <h1 class="text-4xl"><a href="/">Snippetbox</a></h1>
        </div>
    </header>
    {{template "nav" .}}
    <main class="py-20">
        {{template "main" .}}
    </main>
    <footer class="py-5">
        <div class="flex justify-center mx-auto container px-4">
            <h2 class="text-xl">
                Powered by Golang
                </h1>
        </div>
    </footer>
</body>

</html>
{{end}}
