{{define "nav"}}
<nav class="bg-blue-900 py-5">
    <div class="container mx-auto px-4">
        <a href="/" class="text-white text-xl font-bold hover:text-blue-100 transition">Home</a>
    </div>
</nav>
{{end}}
